################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bikas.BookStore/.vs/Bikas.BookStore/v16
/Bikas.BookStore/Bikas.BookStore/obj
